.DS_Store
.vscode
Makefile
libisostasy/include/*.o
libisostasy/include/*.mod
libisostasy/include/*.a
libisostasy/bin/*.x
output/test-isostasy/*.nc
input/ice6gd/*.nc
src/*.mod
output/old/
input/test4
gen/